header > nav > ul{
    text-align: center;
}
header > nav > ul > li{
    display: inline;
    margin-right: 30px;
    
}
nav > ul > li> a{
    text-decoration: none;
}
.title{
    text-align: center;
    margin-top: 50px;
}
.title-description{
    text-align: center;
}
.first-pic{
    text-align: center;
}
.caption{
    text-align: center;
}
.first-article{
    text-align: center;
}